@import "tailwindcss";

@theme {
  --font-clash: "ClashGrotesk", sans-serif;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("./assets/fonts/ClashGrotesk/Fonts/TTF/ClashGrotesk-Variable.ttf")
    format("truetype");
  font-weight: 200 300 400 500 600 700 800;
  font-display: swap;
}

.container {
  max-width: 1200px;
}
